*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
}

.img {
  background: url("/assets/pricing/desktop/hero.jpg") center no-repeat;
  background-size: cover;
}

/* table */
#table {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 55%;
}
