@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.img {
  background: url("/assets/pricing/desktop/hero.jpg") center no-repeat;
  background-size: cover;
}

/* cards */
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.toggle {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.toggle p {
  font-size: 1.8rem;
  color: hsl(234, 14%, 74%);
}

.toggle-box {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 2em;
}

.toggle-box input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: #dfdfdf;
  transition: 0.3s;
}
.slider:hover {
  opacity: 0.7;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #000;
  transition: 0.3s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.monthly {
  display: none;
}

.show-monthly .monthly {
  display: block;
}
.show-monthly .yearly {
  display: none;
}
/*  CARDS  */
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.pricing-card {
  background-color: #f5f5f5;
  margin: 0 2rem;
  padding: 2.5em;
  display: flex;
  box-shadow: 0 10px 14px rgba(73, 76, 95, 0.034);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pricing-card > * {
  margin: 1.7rem 0;
}

.title {
  font-size: 2.4rem;
  color: #000;
}

.price {
  font-size: 4rem;
  margin: 0.3em 0;
}

.price span {
  font-size: 1.5rem;
  display: block;
  opacity: 0.5;
}
.benefits {
  font-size: 1.2rem;
  line-height: 1.7;
  margin-top: -1rem;
  opacity: 0.6;
}

.button {
  border: 1px solid;

  margin-top: 1em;
  width: 100%;
  padding: 1em 3em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  background: #000;
  cursor: pointer;
  outline: none;
}
.button:hover,
.button:focus {
  background: #fff;
  color: #000;
}

.card-two {
  background: #000;
  color: #fff;
  z-index: 100;
  transform: scale(1.1);
}

.card-two .title,
.card-two .price {
  color: #fff;
}

.card-two .button {
  background: #fff;
  color: #000;
}
.card-two .button:hover,
.card-two .button:focus {
  background: transparent;
  color: #fff;
}

@media (max-width: 768px) {
  body {
    justify-content: stretch;
  }
  .toggle-container {
    margin-top: 2em;
  }
  .slider:hover {
    opacity: 1;
  }
  .cards {
    gap: 2em;
    margin-bottom: 2em;
  }
  .card-two {
    transform: scale(1);
  }

  .background-top img {
    max-width: 200px;
  }
  .background-bottom {
    display: none;
  }
  .price {
    font-size: 2.8rem;
  }
  .benefits li {
    font-size: 0.75rem;
  }
}

/* table */
#table {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
}
#table h1 {
  font-size: 4rem;
  margin: 4rem 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 55%;
}

tr:first-child {
  border-bottom: 1.5px solid #000;
}

tr:not(:first-child) {
  border-bottom: 1px solid#DFDFDF;
}

/* Style table headers and table data */
th,
td {
  text-align: center;
  padding: 16px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.2rem;
}

th:first-child,
td:first-child {
  text-align: left;
}

/* Zebra-striped table rows */

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}
