*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* hero */
#hero {
  background: url("/images/desktop/moon-of-appalacia.jpg") center no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 26%;
  height: 60%;
  margin-left: 9rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-content h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2.3rem;
}
.hero-content h1 {
  font-size: 4.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
.hero-content h4 {
  font-size: 1.3rem;
  margin: 1.7rem 0;
  font-weight: 400;
}
.hero-content h4 span:nth-child(1) {
  opacity: 0.6;
}
.hero-content h4 span:nth-child(2) {
  margin-left: 1.2rem;
}
.hero-content p {
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.9;
}

.hero-content .cta {
  margin-top: 2rem;
}

.hero-content .cta a {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  color: #fff;
}

@media screen and (max-width: 600px) {
  #hero {
    height: 90vh;
  }

  .hero-content h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero-content {
    width: 75%;
    margin-left: 3rem;
  }
}

/* cards */
.card:nth-child(5) {
  background: url("../images/desktop/world-tour.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(6) {
  background: url("../images/desktop/unforeseen-corners.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(7) {
  background: url("../images/desktop/king-on-africa.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(8) {
  background: url("../images/desktop/trip-to-nowhere.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(9) {
  background: url("../images/desktop/rage-of-the-sea.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(10) {
  background: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/running-free.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(11) {
  background: url("../images/desktop/behind-the-waves.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(12) {
  background: url("../images/desktop/calm-waters.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(13) {
  background: url("../images/desktop/milky-way.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(14) {
  background: url("../images/desktop/dark-forest.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(15) {
  background: url("../images/desktop/somwarpet.jpg") no-repeat;
  background-size: cover;
}
.card:nth-child(16) {
  background: url("../images/desktop/land-of-dreams.jpg") no-repeat;
  background-size: cover;
}
